<div fxLayout="row" fxFill fxLayoutGap="8px" style="overflow: auto;">

  <div fxLayout="column" fxLayoutGap="8px" style="background-color: yellow">
    <app-custom-panel>
      <ng-container appCustomHeader>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span>Key Details</span>
          <!-- <p-splitButton label="Save" icon="pi pi-check" (onClick)="save()" [model]="items"></p-splitButton> 
                        -->
        </div>
      </ng-container>
      <ng-container appCustomContent>
        The story begins as Don Vito Corleone
        The story begins as Don Vito Corleone
        The story begins as Don Vito Corleone
        The story begins as Don Vito Corleone
      </ng-container>
      <ng-container appCustomFooter>
        The story begins as Don Vito Corleone
      </ng-container>
    </app-custom-panel>
    <app-custom-panel fxFlex>
      <ng-container appCustomHeader>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span>Billing Details</span>
          <!-- <p-splitButton label="Save" icon="pi pi-check" (onClick)="save()" [model]="items"></p-splitButton> 
                          -->
        </div>
      </ng-container>
      <ng-container appCustomContent>
        The story begins as Don Vito Corleone
        The story begins as Don Vito Corleone
        The story begins as Don Vito Corleone
        The story begins as Don Vito Corleone
        The story begins as Don Vito Corleone
        The story begins as Don Vito Corleone
      </ng-container>
      <ng-container appCustomFooter>
      </ng-container>
    </app-custom-panel>
  </div>
  <app-custom-panel>
    <ng-container appCustomHeader>
      <div>
        <span>Custom Header</span>
        <!-- <p-splitButton label="Save" icon="pi pi-check" (onClick)="save()" [model]="items"></p-splitButton> 
                      -->
      </div>
    </ng-container>
    <ng-container appCustomContent>
      <div>
        <div fxLayout="row">
          <label>Customer:</label>
          <p-autoComplete 
            [(ngModel)]="customer" 
            [suggestions]="filteredCustomers" 
            (completeMethod)="queryCustomers($event)"
            dropdown="true"
            [minLength]="1" placeholder="customers" 
            field="fullName">
            <ng-template let-customer pTemplate="item">
              {{customer?.fullName}}
            </ng-template>
            <ng-template let-customer pTemplate="selectedItem">
              {{customer | json}
            </ng-template>
          </p-autoComplete>
        </div>
        {{customer | json}}
      </div>
    </ng-container>
    <ng-container appCustomFooter>
      The story begins as Don Vito Corleone
    </ng-container>
  </app-custom-panel>
  <app-custom-panel style="background-color: lightskyblue">
    <ng-container appCustomHeader>
      <div>
        <span>Custom Header</span>
        <!-- <p-splitButton label="Save" icon="pi pi-check" (onClick)="save()" [model]="items"></p-splitButton> 
                        -->
      </div>
    </ng-container>
    <ng-container appCustomContent>
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
      <p>One</p>
      <p>Two</p>
      Three
      Four
      Five
      Six
      <p>One</p>
      <p>Two</p>
      Seven
      Eight
      <p>One</p>
      <p>Two</p>
      Nine
      Ten
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
    </ng-container>
    <ng-container appCustomFooter>
      The story begins as Don Vito Corleone
    </ng-container>
  </app-custom-panel>
</div>