<div fxLayout="row" fxFlex="0 1 auto" fxLayoutGap="8px">

  <div fxLayout="column" fxLayoutGap="8px" style="height: 100%; background-color: yellow">
    <app-custom-panel>
      <ng-container appCustomHeader>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span>Key Details</span>
          <!-- <p-splitButton label="Save" icon="pi pi-check" (onClick)="save()" [model]="items"></p-splitButton> 
                        -->
        </div>
      </ng-container>
      <ng-container appCustomContent>
        The story begins as Don Vito Corleone
      </ng-container>
      <ng-container appCustomFooter>
        The story begins as Don Vito Corleone
      </ng-container>
    </app-custom-panel>
    <app-custom-panel style="height: 100%;" fxLayout="stretch">
      <ng-container appCustomHeader>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span>Billing Details</span>
          <!-- <p-splitButton label="Save" icon="pi pi-check" (onClick)="save()" [model]="items"></p-splitButton> 
                          -->
        </div>
      </ng-container>
      <ng-container appCustomContent>
        The story begins as Don Vito Corleone
        The story begins as Don Vito Corleone
        The story begins as Don Vito Corleone
        The story begins as Don Vito Corleone
        The story begins as Don Vito Corleone
        The story begins as Don Vito Corleone
      </ng-container>
      <ng-container appCustomFooter>
      </ng-container>
    </app-custom-panel>
  </div>
  <app-custom-panel style="height: 100%;" fxLayout="stretch">
    <ng-container appCustomHeader>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>Custom Header</span>
        <!-- <p-splitButton label="Save" icon="pi pi-check" (onClick)="save()" [model]="items"></p-splitButton> 
                      -->
      </div>
    </ng-container>
    <ng-container appCustomContent>
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
    </ng-container>
    <ng-container appCustomFooter>
      The story begins as Don Vito Corleone
    </ng-container>
  </app-custom-panel>
  <app-custom-panel fxFlex="1 1 auto">
    <ng-container appCustomHeader>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span>Custom Header</span>
        <!-- <p-splitButton label="Save" icon="pi pi-check" (onClick)="save()" [model]="items"></p-splitButton> 
                        -->
      </div>
    </ng-container>
    <ng-container appCustomContent>
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
      The story begins as Don Vito Corleone
    </ng-container>
    <ng-container appCustomFooter>
      The story begins as Don Vito Corleone
    </ng-container>
  </app-custom-panel>
</div>