<div fxFill fxLayout="column" class="im-panel">
  <!-- Header -->
  <div fxFlex="initial" class="im-panel-titlebar" fxLayout="flex-start">
      <ng-content select="[appCustomHeader]">        
      </ng-content>
  </div>

  <div class="im-panel-content" 
    style="background-color:lightcyan; overflow: auto; height: calc(100% - 60px); overflow: auto;">
    <!-- content-->
    <ng-content select="[appCustomContent]">    
    </ng-content>  
  </div>

  <div fxFlex="initial" fxLayout="flex-end" class="im-panel-footer ">
      <!-- content-->
      <ng-content select="[appCustomFooter]">    
      </ng-content>  
    </div>
</div>
